# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nyc_output/
coverage/

# Environment variables
.env
.env.local
.env.*.local

# Build artifacts
dist/
build/
*.tsbuildinfo

# Editor/OS specific files
.DS_Store # macOS specific
.vscode/ # VS Code settings
*.swp # Vim swap files
*.bak # Backup files